[submodule "mlx5-netperf"]
	path = mlx5-netperf
    url = https://github.com/deeptir18/mlx5-netperf.git
    ignore = untracked
[submodule "protobuf-parser"]
	path = protobuf-parser
    url = https://github.com/deeptir18/protobuf-parser.git
[submodule "rdma-core"]
    path = mlx5-datapath/mlx5-wrapper/rdma-core
    url = https://github.com/linux-rdma/rdma-core
[submodule "mlx5-datapath/mlx5-wrapper/rdma-core"]
	path = mlx5-datapath/mlx5-wrapper/rdma-core
	url = https://github.com/linux-rdma/rdma-core
[submodule "dpdk-datapath/3rdparty/dpdk"]
	path = dpdk-datapath/3rdparty/dpdk
	url = https://github.com/DPDK/dpdk.git
[submodule "redis"]
	path = redis
	url = https://github.com/ygina/redis
[submodule "tapir/c/tapir"]
	path = tapir/c/tapir
	url = https://github.com/UWSysLab/tapir.git
